/*body {*/
	/*font: 11px sans-serif;*/
	/*background-color: #fafafa;*/
	/*text-align: center;*/
/*}*/

/*.axis path,*/
/*.axis line {*/
	/*fill: none;*/
	/*stroke: #000;*/
	/*shape-rendering: crispEdges;*/
/*}*/

/*.dot {*/
  /*stroke: #000;*/
/*}*/

/* .tooltip { */
/*   position: absolute; */
/*   width: 200px; */
/*   height: 28px; */
/*   pointer-events: none; */
/* } */

/*div {*/
	/*background-color: white;*/
	/*font-size: 0px;*/
	/*!*height: 100px; *!*/
	/*margin: auto;*/
	/*width: 100%;*/
	/*padding: 0;*/
	/*height: 400px;*/

	/*!* border-size: 1px; *!*/
	/*!* background-color: lightblue; *!*/
	/*text-align: center;*/
/*}*/
/*div.vspace {*/
	/*height: 30px;*/
/*}*/

div.scatter {
	position: relative;
	display: inline-block;
	width: 80%;
	height: 100%;
	font-size: 11px;
	text-align: left;
}

/*div.authors {*/
	/*position: relative;*/
	/*display: inline-block;*/
	/*width: 20%;*/
	/*!* height: 100%; *!*/
	/*!* font-size: 11px; *!*/
/*!* width: 30em; *!*/
	/*overflow-y: auto;*/
	/*white-space: nowrap;*/
/*}*/
/*div.author {*/
	/*position: relative;*/
	/*!* display: inline-block; *!*/
	/*height: auto;*/
	/*!* height: 9px; *!*/
	/*font-size: 8px;*/
	/*text-align: left;*/
/*}*/
/*input[type=checkbox] {*/
	/*height: 1px;*/
	/*position: relative;*/
	/*display: inline-block;*/
	/*width: 1px;	*/
	/*margin-bottom: 0;*/
	/*margin-top: 0;*/
	/*padding-bottom: 0;*/
	/*padding-top: 0;*/
	/*vertical-align: middle;*/
/*}*/

.title_author {
	position: relative;
	height: auto;
	padding: 3px;
	/* text-align: center; */
}

/*div.plot {*/
	/*position: relative;*/
	/*display: inline-block;*/
	/*width: 50%;*/
	/*height: 200px;*/
	/*font-size: 11px;*/
/*}*/

/*!*div.main {*!*/
	/*!*font-size: 0;*!*/
	/*!*width: 80%;*!*/
	/*!*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*!*/
/*!*}*!*/

div.font {
	font-size: 11px;
}

/* Scatter CSS */
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
  stroke: #000;
}
/* bar chart - fingerprint */

.axis {
  font: 10px sans-serif;
}
.bar {
  fill: steelblue;
}

.bar:hover {
  fill: darkblue;
}
/*.tooltip_bar {*/
         /*width: 70px;*/
         /*height: 12px;*/
/*}*/
.tooltip_posneg {
         width: 160px;
         height: 150px;
}
.tooltip {
     position: absolute;
     background-color: black;
     pointer-events: none;
     font-size: 9px;
     color: #ffffff;
     text-align: center;
     border-radius: 5px;
     padding: 12px;
}

.d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}

.bar rect:hover {
  /*fill: orangered !important;*/
  stroke: #000;
}
